body {
	padding-top: 1.5rem;
}

.container {
	max-width: 1000px;
	margin: auto;
}

.area {
    margin-bottom: 1rem;
}

.block {
	background: lighten($light-gray, 37%);
    border: 1px solid lighten($light-gray, 35%);
	margin-bottom: 1rem;
	padding: 1rem;
	margin-right: 1rem;
}

.align-center {
	text-align: center;
}

.logo {
    font-size: 35px;
    display: inline-block;
    text-align: center;

    .block {
        padding: 0;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}