@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600);

ol {
	li {
		margin-bottom: 2rem;
	}
}

* {
    word-break: break-word;
}

a, a strong {
	color: $orange;
}

a:hover {
	border-bottom: 1px dotted $orange;
}

h1 {
	display: inline-block;
	margin-bottom: 1.5rem;
	font-size: 3rem;
	border-bottom: 3px solid $orange;
}

p {
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

h2 {
    font-size: 1.25rem;
	display: block;
    margin-bottom: 1rem;
}

h3 {
	display: inline-block;
	border-bottom: 1px dotted $orange;
}

strong {
	color: lighten($dark-blue, 5%);
	font-weight: 600;
}

i {
    font-style: italic;
    font-size: $base-font-size * 0.8;
}

.filename {
    color: #9BA78F;
}