$dark-blue: #334246;
$bg-code: #4d5052;
$light-gray: #9BA78F;
$orange: #F5AE42;

$base-font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
$base-font-size:   17px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;
